$sHeader: 40px;
$sHeaderMargin: $sHeader;

$sPadding: 10px; 
$sMinPadding: $sPadding/2;

$sMaxPageContentWidth: 1000px;

$sBaseFontSize: 18px;
$sHeadFontSize: 25px;

$sMarginLeft: 70px;

$sTextAreaHeight: 100px;

$sStartAnimation:200px;
$sEndAnimation:250px;